* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  color: white;
}

/* Header section */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 1.25em 1.125em;
}

.header-image {
  height: 2.5em;
}
/* Main image section */

.container {
  max-width: 550px;
}
.main-dog-image {
  max-width: 100%;
  border-radius: 0.6em;
  padding: 0 0.5em;
  margin: 0 auto;
  display: block;
}

.image-container {
  position: relative;
}

/* Like / dislike image text overlay */
.like-nope-image-container {
  max-width: 230px;
  position: absolute;
  top: 3.5em;
  left: 2em;
  transform: rotate(-30deg);
}

.like-nope-image-container > img {
  width: 100%;
}
/* Text */
.text-container {
  position: absolute;
  padding: 0.5em;
  bottom: 1.25em;
  left: 1.25em;
}

.name-age {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.125rem;
  padding-bottom: 0.25em;
}

.dog-bio {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* Yes No choice section */
.yes-no-container {
  text-align: center;
  padding: 1.5em 0;
}

.button-background {
  box-shadow: 0px 10px 20px #e9e9ea;
  border-radius: 50%;
  display: inline-block;
}

#btn-no {
  margin-right: 0.75em;
}

#btn-no:hover,
#btn-no:focus {
  background-color: #ffe7ef;
}

#btn-yes {
  margin-left: 0.75em;
}

#btn-yes:hover,
#btn-yes:focus {
  background-color: #dbfff4;
}

.choice-btn {
  padding: 1.5em;
}
